In [ ]:
Q.1
For Loop:- A for loop is a type of loop that runs for a preset number of times.
It also has the ability to iterate over the items of any sequence, such as a list or a string.

While Loop:- Keep on iterating until the condition is True or False.

In [4]:
for i in range(10):
    if i % 2 == 0 :
        print(i)

0
2
4
6
8

In [1]:
a = 1
while a <= 10:
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

In [ ]:
Q.2
Using for loop

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]

In [4]:
result = 0
for i in l:
    result = result+i
result

55

In [ ]:
#Using while loop
result = 0
while i <=10 :
    result = result+i
result

In [2]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,
    42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,
    80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100] 
l1 = []
for i in l :
    l1.append(i**3)

In [3]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [5]:
[i for i in l if i%4 == 0]

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100]

In [ ]:
Q.5
Ans:-

In [6]:
string = "I want to become a data scientist"

In [8]:
string = "I want to become a data scientist"
count = 0
i = 0
for i in range(len(string)):
    if (
        (string[i] == "a")
        or (string[i] == "e")
        or (string[i] == "i")
        or (string[i] == "o")
        or (string[i] == "u")
    ):
        count += 1

print("I want to become a data scientist: ", count)

I want to become a data scientist:  11